Package: api-models
Source: api
Version: 1.24.0~20250515203840.10
Architecture: all
Maintainer: API DEV <api-dev@capillarytech.com>
Installed-Size: 781
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: Models for APIs
 This package contains models which will used in the APIs to interact with DB or all other data source
