Package: api
Version: 1.24.0~20250515203840.10
Architecture: all
Maintainer: API DEV <api-dev@capillarytech.com>
Installed-Size: 28
Depends: api-core (>= 1.24.0~20250515203840.10), api-resource (>= 1.24.0~20250515203840.10), api-helper (>= 1.24.0~20250515203840.10), api-conf, api-xsd, api-models (>= 1.24.0~20250515203840.10), cc-a2vhosts-api, cc-rsyslog-sender
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: Top API Package
 This is meta package to install complete api
