Package: api-xsd
Source: api
Version: 1.23.0~20231201071834.svn.1822
Architecture: all
Maintainer: API DEV <api-dev@capillarytech.com>
Installed-Size: 350
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: XSDs for APIs
 This package contains XSDs which are used to validate input/output XMLs in APIs
