Package: api-conf
Source: api
Version: 1.24.0~20250515203840.10
Architecture: all
Maintainer: API DEV <api-dev@capillarytech.com>
Installed-Size: 34
Replaces: api-test
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: Static config
 Static config file for API packages
