Package: api-core
Source: api
Version: 1.24.0~20250515203840.10
Architecture: all
Maintainer: API DEV <api-dev@capillarytech.com>
Installed-Size: 2580
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: Core API Classes
 Classes for API Core
