Package: api-models
Source: api
Version: 1.23.0~20231201071834.svn.1822
Architecture: all
Maintainer: API DEV <api-dev@capillarytech.com>
Installed-Size: 760
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: Models for APIs
 This package contains models which will used in the APIs to interact with DB or all other data source
